$color-primary: #2c3e50;
$color-secondary: #8686DE;
$chip-bcg: #D5D5D5;
$color-grey: #F6F6F6;
$font-stack: Avenir, Helvetica, Arial, sans-serif;
$html-font-size: 16px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style: none;
}
